<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signinModalLabel"><%= t('view.certification') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: sessions_path, scope: :session) do |f| %>
          <div class="field">
            <% Rails.env.development? ? password = ENV['DEVELOPMENT_ADMIN_PASS'] : nil %>
            <%= f.password_field :password, autofocus: true, placeholder: "", value: password %>
          </div>
          <div class="actions", data-bs-dismiss="modal">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>