/*
 *= require_tree .
 *= require_self
 */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');

body {
  font-family: arial,'Edu VIC WA NT Beginner', cursive;
  width: 90%;
  margin: 0 auto;
}
.container {
  padding: 30px 20px;
}
nav ul {
  margin-top: 0;
  padding: 0;
  display: -webkit-flex;
  display: flex;
}
nav .flex-right {
  margin-left: auto;
}
ul li {
  list-style: none;
  margin: 5px;
}
.width500 {
  width: 500px;
}
.slender_table {
  display: -webkit-flex;
  display: flex;
}
