<p align="center" class="logo">MPASS</p>
<ul>
  <li>
    Top
    <%#= link_to t('view.top'), root_path, id: "global-navi_top", class: "btn btn-outline-info", role: "button"  %>
  </li>
  <li>
    <%= link_to t('view.hospital') + t('view.index'), hospitals_path, id: "global-navi_hospital-index", class: "btn btn-outline-info", role: "button"  %>
  </li>
  <% if logged_in? %>
    <div class="flex-right">
      <li>
        <%= link_to t('view.sign_out'), session_path(current_admin.id), method: :delete, id: "global-navi_admin-sign-out", class: "btn btn-outline-dark", role: "button" %>
      </li>
    </div>
  <% end %>
</ul>